@font-face {
  font-family: 'Pragmatica';
  font-style: normal;
  font-weight: lighter;
  src: local('Pragmatica'), url('https://fonts.cdnfonts.com/s/14549/Pragmatica.woff') format('woff');
}

body {
    background-color: black;
}

.content {
  padding-left: 20% !important;
  padding-right: 20% !important;
}

h1 {
	  color: #d4d7fc;
    font-family: pragmatica, sans-serif;
    font-style: normal;
    font-size: 4vw;
    align-self: flex-start;
  }
  
text {
  color:  #d4d7fc;
  font-family: pragmatica, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 1.3vw;
}