@import url('https://fonts.cdnfonts.com/css/pragmatica'); 

body {
    background-color: black;
    color:  #d4d7fc;
    font-family: pragmatica, sans-serif;
    font-style: normal;
    font-size: 4.5vh;
    padding: 5%;
    font-weight: lighter;
    padding-left: 20vw !important;
    padding-right: 20vw !important;
    box-sizing: border-box;
  }

h1 {
	color: #d4d7fc;
    font-family: pragmatica, sans-serif;
    font-style: normal;
    font-size: 9vw;
    align-self: flex-start;
  }
  